html {
  --primary: #00be0c;
  --secondary: #ff458f;
  --header: #343a33;
}
@font-face {
  font-family: "miedingerw01-boldregular";
  src: url("miedinger_w01_bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eurostile_lt_stddemi_oblique";
  src: url("eurostileltstd-demioblique_0-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  background-image: url(pics/Artboard\ 1.png);
  background-size: cover;
  background-attachment: fixed;
  max-width: 1400px;
}
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 0 0 2%;
}

/**********************MENU****************************/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
}
.flexheader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: auto;
  padding-bottom: 1rem;
}
.logo img {
  width: 65px;
  height: 85px;
}
.logo:hover {
  transform: translateY(-2px);
}
nav {
  display: flex;
  align-items: center;
}

li {
  display: inline-block;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  font-family: "miedingerw01-boldregular", sans-serif;
  font-size: 1rem;
  padding: 10px;
  color: var(--secondary);
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: var(--primary);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
  margin-bottom: 5px;
}
.burger {
  display: none;
}

@media (max-width: 800px) {
  /**********************MOBIL MENU****************************/

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    background-color: #00be0d5c;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/**********************TEXT****************************/

h1 {
  font-family: "miedingerw01-boldregular";
  font-size: 8rem;
  color: transparent;
  -webkit-text-stroke: 4px var(--primary);
}
h2 {
  font-family: "miedingerw01-boldregular";
  font-size: 4rem;
  color: transparent;
  -webkit-text-stroke: 4px var(--primary);
}

/**********************INDEX****************************/

.a {
  margin: 0% 0% -2.3% 3%;
}
.d {
  margin: 0% 0% -2.3% 6.8%;
}
.h {
  margin: 0% 0% 0% 17%;
}
.port {
  padding: 2% 0% 0% 7%;
}

@media (max-width: 800px) {
  /**********************MOBIL INDEX****************************/
  body {
    width: 20%;
    background-image: url(pics/mobil_bg.png);
    background-size: cover;
    background-attachment: fixed;
  }
  h1 {
    font-family: "miedingerw01-boldregular";
    font-size: 2.3rem;
    color: transparent;
    -webkit-text-stroke: 2px var(--primary);
  }
  h2 {
    font-family: "miedingerw01-boldregular";
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 2px var(--primary);
  }

  .port {
    padding: 10% 0% 0% 7%;
  }
  .a {
    margin: 0% 0% -14% 3%;
  }
  .d {
    margin: 0% 0% -14% 30%;
  }
  .h {
    margin: 0% 0% 0% 55%;
  }
}
