html {
  --primary: #00be0c;
  --secondary: #ff458f;
  --header: #343a33;
  --burger: #00be0d5c;
}
@font-face {
  font-family: "miedingerw01-boldregular";
  src: url("miedinger_w01_bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "eurostile_lt_stddemi_oblique";
  src: url("eurostileltstd-demioblique_0-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  background-image: url(pics/Artboard1.webp);
  background-size: cover;
  background-attachment: fixed;
  max-width: 1400px;
}
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 0 0 6%;
}
p {
  font-family: eurostile_lt_stddemi_oblique;
  color: white;
  font-size: 1.2rem;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
footer {
  padding-top: 5%;
  padding-left: 9%;
  font-family: "miedingerw01-boldregular", sans-serif;
  font-size: 0.5rem;
  color: var(--primary);
}
/**********************MENU****************************/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: transparent;
}
.logo img {
  height: 90px;
}
.logo:hover {
  transform: translateY(-2px);
}
nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  font-family: "miedingerw01-boldregular", sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  color: var(--secondary);
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: var(--primary);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
  margin-bottom: 5px;
}
.burger {
  display: none;
}

@media (max-width: 800px) {
  /**********************MOBIL MENU****************************/
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    background-color: #00000074;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/**********************TEXT****************************/

h1 {
  font-family: "miedingerw01-boldregular";
  font-size: 8rem;
  color: transparent;
  -webkit-text-stroke: 4px var(--primary);
  text-align: center;
}
h2 {
  font-family: "miedingerw01-boldregular";
  font-size: 4rem;
  color: transparent;
  -webkit-text-stroke: 3px var(--primary);
}

/**********************INDEX****************************/

.a {
  margin: 9% 0% -2.3% 3%;
}
.d {
  margin: 0% 0% -2.3% 6.8%;
}
.h {
  margin: 0% 0% 0% 17%;
}
.port {
  padding: 6% 0% 0% 7%;
}
#portfolie {
  font-family: "miedingerw01-boldregular";
  font-size: 8rem;
  color: transparent;
  -webkit-text-stroke: 4px var(--primary);
}

ommig {
  font-family: "miedingerw01-boldregular";
  font-size: 4rem;
  color: transparent;
  -webkit-text-stroke: 3px var(--primary);
}
#a {
  margin: 9% 0% -2.3% 3%;
}

@media (max-width: 800px) {
  /**********************MOBIL INDEX****************************/
  body {
    width: 89%;
    background-image: url(pics/mobil_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1 {
    font-family: "miedingerw01-boldregular";
    font-size: 2.3rem;
    color: transparent;
    -webkit-text-stroke: 2px var(--primary);
    margin-top: 0px;
  }
  h2 {
    font-family: "miedingerw01-boldregular";
    font-size: 1.5rem;
    color: transparent;
    -webkit-text-stroke: 1.5px var(--primary);
    text-align: center;
  }

  .port {
    padding: 8% 0% 86% 1%;
  }
  .a {
    margin: 0% 0% -3% -16%;
    font-size: 2rem;
  }
  .d {
    margin: 0% 0% 0% 11%;
    font-size: 2rem;
  }
  .h {
    margin: -3% 0% 0% 20%;
    font-size: 2rem;
  }
  #portfolie {
    font-family: "miedingerw01-boldregular";
    font-size: 2.5rem;
    color: transparent;
    -webkit-text-stroke: 2px var(--primary);
  }
}
