/**********************GRUNDLÆGENDE WEB****************************/
.h_port {
  font-family: "miedingerw01-boldregular";
  font-size: 3.7rem;
  color: transparent;
  -webkit-text-stroke: 2px var(--primary);
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
h3 {
  font-family: eurostile_lt_stddemi_oblique;
  color: var(--primary);
  font-size: 3.5rem;
}

.web_mobil {
  width: 30%;
  padding: 7% 0% 0% 2%;
}
.web_com {
  width: 100%;
}

.web_com2 {
  width: 70%;
  padding: 0% 0% 0% 15%;
}

.header_link {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  background-color: transparent;
}

.header_link a {
  font-family: miedingerw01-boldregular;
  font-size: 1rem;
  color: transparent;
  -webkit-text-stroke: 1px var(--primary);
  text-decoration: none;
  border: 2px solid var(--secondary);
  padding: 10px 20px 10px 20px;
  margin: 6% 1% 6% 0%;
  transition: all 0.55s ease;
}

.header_link a:hover {
  transform: translateY(-2px);
  background: var(--secondary);
  border: 1px solid var(--secondary);
  transform: translate(8px);
}

.grid1_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1% 5% 0% 5%;
}

/**********************MOBIL GRUNDLÆGENDE WEB****************************/
@media (max-width: 800px) {
  .h_port {
    font-family: "miedingerw01-boldregular";
    font-size: 1.5rem;
    color: transparent;
    -webkit-text-stroke: 1px var(--primary);
    text-align: center;
  }

  h3 {
    font-family: eurostile_lt_stddemi_oblique;
    color: var(--primary);
    font-size: 1.5rem;
    inline-size: 100px;
  }

  .web_mobil {
    width: 30%;
    padding: 7% 0% 0% 2%;
  }
  .web_com {
    width: 100%;
  }
  .header_link {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 95%;
    background-color: transparent;
  }

  .header_link a {
    font-family: miedingerw01-boldregular;
    font-size: 0.8rem;
    text-decoration: none;
    border: 2px solid var(--secondary);
    font-weight: 100;
    padding: 10px 20px 10px 20px;
    margin: 8% 2% 7% 0%;
    transition: all 0.55s ease;
  }
  #link_ux {
    margin: 13% 2% 7% 0%;
  }
}
